.tab-details {
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    align-content: center;
    font-size: 15px;
    font-weight: 900;
    /* height: 800px; */
    /* background-color: green; */
}


.tech-name {
    width: 120px;
    height: auto;
    border: 0px solid;
    border-radius: 50px;
    object-fit: cover;
}

#elasticsearch{
    margin-left: 80px;
}

/* .jen{
   display: block;
   justify-content: center;
   align-items: center;
   align-content: center;
} */

/* .containerization{
    width: 100%;
    text-align: center;
    margin-left: 90%;
} */

.build-tools, .frontend-languages{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

@media screen and (max-width: 760px){
    .tab-details{
        display: block;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        font-size: 9px;
        font-weight: 700;
    }

    .tech-name {
        width: 80px;
        height: auto;
        border: 0px solid;
        border-radius: 50px;
        object-fit: cover;
    }

    #elasticsearch{
        margin-left: 150px;
    }

    .build-tools, .frontend-languages{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

}