/* 
.inner-skills-wrapper-one{
    display: flex;
}

.inner-skills-wrapper-two{
    display: flex;
} */


.stage-cube-container-1 {
    width: 200px;

    /* background-color: red; */

    height: 100%;
/* 
    top: 0px; */
    padding-top: 8%;

    margin-left: 580px;
    position: absolute;
    display: flex;

}



.stage-cube-container-2 {

    width: 200px;

    /* background-color: red; */

    height: 100%;
/* 
    top: 0px; */
    padding-top: 8%;

    margin-left: 230px;
    position: absolute;
    display: flex;

}

/* @media screen and (max-width: 760px){
    .stage-cube-container-1 {
        margin-left: 80px;
    }

    .stage-cube-container-2 {
        margin-left: 50px;
    }

} */

.cubespinner {
    animation-name: cubespinner;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 15s;
    transform-style: preserve-3d;
    transform-origin: 100px 100px 0;
    margin-left: calc(50% - 100px);
}
.cubespinner > div {
    position: absolute;
    width: 200px;
    height: 200px;
    color: green;
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.4);
    text-align: center;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0px 0px rgb(44, 44, 43);
}

.cubespinner > .face1 {
    transform: translateZ(100px);
}

.cubespinner > .face2 {
    transform: rotateY(90deg) translateZ(100px);
}

.cubespinner > .face3 {
    transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
}

.cubespinner > .face4 {
    transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
}

.cubespinner > .face5 {
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
}

.cubespinner > .face6 {
    transform: rotateX(-90deg) translateZ(100px);
}

@keyframes cubespinner {
    from,
    to {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }

    16% {
        transform: rotateY(-90deg);
    }

    33% {
        transform: rotateY(-90deg) rotateZ(90deg);
    }

    50% {
        transform: rotateY(-180deg) rotateZ(90deg);
    }

    66% {
        transform: rotateY(-270deg) rotateZ(90deg);
    }

    83% {
        transform: rotateX(90deg);
    }
}

img {
    width: 150px;
    height: auto;
}