#skills_icon {
    width: 100px;
    height: 100px;
}

.skills_title {
    font-size: 30px;
    margin-left: 20px;
    text-transform: capitalize;
    font-family: 'Freehand', cursive;
}

.title_and_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: crimson;
}

.skills_first_row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 10px 30px;
    padding: 3rem 10px;

}

.skills_type {
    border-radius: 15px !important;
}

.skills_type:hover {
    /* background-color: beig; */
    color: #3a3e59;
    border-radius: 15px;
    background-color: rgb(248, 223, 191);
}

.skills_first_row, .skills_second_row, .skills_third_row {
   
}




.skill_type_title{
    text-align: center;
    padding-top: 10px;
    font-size: 1.8rem;
    letter-spacing: 2px;
    font-family: 'Freehand', cursive;
    color: #3a3e59;
}


.tech_icon {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    object-fit: cover;
}


.java, .spring, .kafka{
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 30px;
}
.javascript, .typescript, .material_ui, .redux, .reactjs, .kafka_streams {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 10px;
}

.mysql, .postgres, .elasticsearch, .jpa, .hibernate {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 3px;
}
.redux {
    margin-bottom: 5px;
}

.skill_details_box {
    margin-left: 35px;
    /* text-align: center; */
}


.details {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    /* text-align: center; */
    border-bottom: 1px solid #3a3e59;
    display: inline-block;
    padding: 3px;
    
} 

.details_explain {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    opacity: 0.5;
    /* text-align: center; */

    display: flex;
    justify-content: center;
    padding: 3px;
}

@media screen and (max-width: 480px) {

    #skills_icon {
        width: 50px;
        height: 50px;
    }

    .skills_title {
        font-size: 20px;
        margin-left: 12px;
        text-transform: capitalize;
    }

    .skills_first_row {
        display: flex;
        flex-direction: column;
    }

}

@media screen and (min-width: 768px) and (max-width: 915px) {

}

@media screen and (min-width: 481px) and (max-width: 767px) {

}

@media screen and (min-width: 1300px) {}