.social_wrapper {
    width: 100%;
    height: 100vh;
}

.social_title_2 {

    text-align: center;
    font-size: 20px;
    font-weight: 900;
    padding: 30px;
    font-family: 'Freehand', cursive;
    color: crimson;
}

.connect_with_me_socials_2 {
    display: flex;
    justify-content: space-around;
   padding-bottom: 30px;
}




.social_icon {
    color: crimson;
    margin-bottom: 50px;
}