.intro_right_side {
    flex: 7;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.intro_left_side {
    flex: 5;
    background-image: url('../../assets/images/clippy.png');
    background-attachment: scroll;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    display: block;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding-left: 10rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: white;
    height: 450px;
}

.profile {
    width: 380px;
    height: 380px;
    /* border: 2px solid crimson; */
    border-radius: 50%;
    object-fit: cover;
}

.intro_left_side {
    /* background-color: red; */
    display: block;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-top: 15px;

    line-height: 26px;
}

#first_name,
#last_name, .tool {
    color: black;
    font-style: italic;
    font-size: 1.2rem;
    font-weight: 900;
}
.greetings {
    font-size: 1rem;
    font-weight: 900;
}


.favorites_paradigms {
    margin-bottom: 80px;
    /* padding-left: 3rem; */
    color: black;
    border-bottom: 2px solid white;
    /* display: block; */

    transform: rotate(200deg);

}

.tool {
    margin-top: 30px;
    transform: rotate(340deg);
    padding-top: 2rem;
    color: white;
    color: black;
}

.profession {
    color: black;
}

@media screen and (max-width: 480px) {

    .intro_container {
        flex-direction: column;

    }

    .profile {
        width: 300px;
        height: 300px;
    }

    .intro_left_side {
        padding-top: 20px;
        width: 300px;
        height: 200px;
        /* background-color: green; */
        margin: 0px auto;
        line-height: 1.2rem

    }

    .programming_paragigm {
        display: block;
        color: green;
    }

}

@media screen and (min-width: 768px) and (max-width: 915px) {

    .intro_left_side {
        padding-top: 20rem;
        line-height: 2rem
    }

    .programming_paragigm {
        display: block;
    }

}

@media screen and (min-width: 481px) and (max-width: 767px) {
    .intro_left_side {
        line-height: 1.5rem;
        padding-top: 10rem;
    }
}

@media screen and (min-width: 1300px) {
    .programming_paragigm {
        display: block;
    }
}