
.logo_menu {
    text-align: center;
    color: white;
    /* font-size: 30px; */
    border-bottom: 2px solid black;
    padding: 6px;
}

.skills-box{
    background-color: crimson;
    width: 180px;
    height: 50vh;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 3;

    border-top: 0px solid crimson;
    border-left: 0px solid crimson;

    /* color: crimson; */

    animation-name: app-menu;
    animation-timing-function: ease-in-out;
    animation-duration: 1.5s;
    animation-iteration-count: 1;

    border-bottom-right-radius: 50px;
}

@keyframes app-menu {

    0% {
        transform: translateX(-100px);
        opacity: 0;
     }
     25% {
         opacity: 0.2;
     }

     50% {
         opacity: 0.4;
     }

     75% {
         opacity: 0.6;
     }

     95% {
         opacity: 0.8;
     }
     
   
}
.skills-box > ul > li,  a {
    text-decoration: none;
    color: crimson;
    list-style: none;
    margin-bottom: 10px;
    font-size: large;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
    font-style: normal;
    font-stretch: expanded;
    
}

.skills-box > ul > div {

    animation: annimated 5s infinite;
    color: green;
}

@keyframes annimated {
        
    100%{
        opacity: 0;
    }

}

#menu-item {
    border: 0px solid inherit;
    border-radius: 50px;
    margin-left: 5px;
}

#menu-item:hover {

    background-color: rgb(47, 47, 51);
    width: 100%;
    text-align: center;
    cursor: pointer;

    /* animation-name: animated-menu-hover;
    animation-timing-function: ease-in;
    animation-duration: 1s;
    animation-iteration-count: 1; */
}


.list_item_home{
    margin-top: -10px;
    margin-left: -30px;
    text-transform: capitalize;
    font-size: 1.2rem;
}

.list_item_services{
    margin-top: -50px;
    margin-left: -30px;
    text-transform: capitalize;
}

.list_item_features{
    margin-top: -50px;
    margin-left: -30px;
    text-transform: capitalize;
}

.list_item_connect{
    margin-top: -50px;
    margin-left: -30px;
    text-transform: capitalize;
}

.item_button {

}

.item_text {
    margin-left: -15px;
    color: inherit;
    font-size: x-small;
    font-weight: 300;
}


#menu-item {
    animation-name: animated-menu;
    animation-timing-function: ease-out;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes animated-menu {
    
    0% {
       transform: translateX(100px);
       color: whitesmoke
    }

    50% {
        transform: translateX(100px) ;
        color: whitesmoke;
    } 

     /* 100% {
        transform: translateX(100px);
    } */
}

@media screen and (max-width: 480px) {
    .logo_menu{
        color: #fff;
        font-weight: bolder;
        font-style: italic;
        font-size: 1rem;
        /* background-color: green; */
    }
    .item_text {
        margin-left: -15px;
        color: white;
        font-size: x-small;
        font-weight: 300;
        font-weight: 900;
    }
    .item_icon {
        color: white;
    }
}
