:root {
    --defaultFontSize: 1.2rem;
}

.logo {

    font-size: 1.6rem;
    font-weight: 900;
    font-style: italic;
}


.right_side .links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    list-style-type: none;

}

.right_side .links li a{
    margin: 0px 10px;
    text-transform: uppercase;
    font-size: var(--defaultFontSize);
    color: crimson
    
}

.right_side .links li a:hover{
    border-bottom: 5px solid black;
    transition: 0.5s;
}

.menu {
    display: none;
}

@media screen and (max-width: 480px) {
    .right_side {
        display: none;
    }

    .menu {
        display: block;
    }

    .logo {
        font-size: var(--defaultFontSize);
    }
    .navbar {
        background-color: green;
    }
}